.message {
    width: fit-content;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    max-width: 65%;
}

.message__user {
    margin-left: auto;
}

.message__cardOther {
    background-color: #e9e9eb !important;
}

.message__cardUser {
    background-color: #0b81ff !important;
    color: white !important;
}

.message__username {
    color: grey;
}

.message__body {
    margin-left: 0.5rem;
}

.message__card {
    word-break: break-all;
    border-radius: 12px !important;
}

.message__image,
.message__video {
    height: auto;
    max-width: 100%;
    cursor: pointer;
}

.message__videoOverlay {
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
}

.message__imagePreviewDialog,
.message__videoPreviewDialog {
    height: auto;
    max-width: 100%;
}
