.chatArea__center {
    height: 100vh !important;
}

.chatArea__paper {
    color: white !important;
    border-radius: 8px !important;
    display: flex !important;
    flex-direction: column !important;
}

.chatArea__header {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    background-color: #0b81ff;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.chatArea__header > .MuiButtonBase-root {
    color: white !important;
}

.chatArea__room {
    flex: 1;
    display: flex;
    align-items: center;
}

.chatArea__room > p {
    margin-left: 0.5rem !important;
    font-weight: 600 !important;
}

.chatArea__roomIcon {
    background-color: #f1f2f5 !important;
    color: #0b81ff !important;
}

.chatArea__roomName {
    width: 15rem !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chatArea__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black !important;
    height: 100%;
}

.chatArea__form {
    padding: 1rem 0.5rem;
}

.chatArea__formControl {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.chatArea__input {
    flex: 1 !important;
    margin: 0 0.8rem 0 0.5rem !important;
}

.chatArea__input .MuiInputBase-root {
    border-radius: 24px !important;
    background-color: #e9e9eb !important;
    opacity: 0.7 !important;
}

.chatArea__messages {
    padding: 1rem;
    height: 22rem;
    overflow-y: auto;
}

.chatArea__outRoom {
    text-decoration: none;
}

.chatArea__outRoom > button,
.chatArea__usersList > button {
    color: white !important;
}

#contained-button-image,
#contained-button-video {
    display: none;
}

.chatArea__previewImage,
.chatArea__previewVideo {
    height: auto;
    width: 100%;
}

.chatArea__uploadImageDialog span,
.chatArea__uploadImageDialog button,
.chatArea__uploadVideoDialog span,
.chatArea__uploadVideoDialog button {
    text-transform: none !important;
}

.chatArea__uploadImageDialogRemove,
.chatArea__uploadVideoDialogRemove {
    display: flex;
    justify-content: center;
}

@media (max-width: 427px) {
    .chatArea__roomName {
        width: 5rem !important;
    }
}
