.chatArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33rem;
    height: 33rem;
    color: white !important;
    display: flex;
    flex-direction: column;
    border-radius: 8px !important;
}

.chatArea__header {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b81ff;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.chatArea__header > .MuiButtonBase-root {
    color: white !important;
}

.chatArea__room {
    display: flex;
    align-items: center;
}

.chatArea__room > p {
    margin-left: 0.5rem !important;
    font-weight: 600 !important;
}

.chatArea__roomIcon {
    background-color: #f1f2f5 !important;
    color: #0b81ff !important;
}

.chatArea__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black !important;
}

.chatArea__form {
    padding: 1rem 0.5rem 1rem 1rem;
}

.chatArea__formControl {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.chatArea__input {
    flex: 1 !important;
    margin-right: 0.5rem !important;
}

.chatArea__input .MuiInputBase-root {
    border-radius: 24px !important;
    background-color: #e9e9eb !important;
    opacity: 0.7 !important;
}

.chatArea__messages {
    padding: 1rem;
    height: 21rem;
    overflow-y: auto;
}
